Repository imprince26/SportsBuddy2, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, api, database, authentication, events, athletes, community, venues, leaderboard, notifications, admin, ui/ux, documentation, config, testing, ci/cd, security, performance, socket, uploads, utils

.github/labeler.yml:

frontend:
  - changed-files:
    - any-glob-to-any-file: 'client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'server/**/*'

api:
  - changed-files:
    - any-glob-to-any-file: 'server/routes/**/*'
    - any-glob-to-any-file: 'server/controllers/**/*'

database:
  - changed-files:
    - any-glob-to-any-file: 'server/models/**/*'
    - any-glob-to-any-file: 'server/config/db.js'

authentication:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/authController.js'
    - any-glob-to-any-file: 'server/routes/authRoute.js'
    - any-glob-to-any-file: 'server/middleware/authMiddleware.js'
    - any-glob-to-any-file: 'client/src/pages/auth/**/*'
    - any-glob-to-any-file: 'client/src/context/AuthContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useAuth.js'
    - any-glob-to-any-file: 'client/src/schemas/authSchema.js'

events:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/eventController.js'
    - any-glob-to-any-file: 'server/routes/eventRoute.js'
    - any-glob-to-any-file: 'server/models/eventModel.js'
    - any-glob-to-any-file: 'client/src/pages/event/**/*'
    - any-glob-to-any-file: 'client/src/components/events/**/*'
    - any-glob-to-any-file: 'client/src/context/EventContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useEvents.js'
    - any-glob-to-any-file: 'client/src/schemas/eventSchema.js'

athletes:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/athletesController.js'
    - any-glob-to-any-file: 'server/routes/athletesRoute.js'
    - any-glob-to-any-file: 'client/src/pages/athletes/**/*'
    - any-glob-to-any-file: 'client/src/components/athletes/**/*'
    - any-glob-to-any-file: 'client/src/context/AthletesContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useAthletes.js'

community:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/communityController.js'
    - any-glob-to-any-file: 'server/routes/communityRoute.js'
    - any-glob-to-any-file: 'server/models/communityModel.js'
    - any-glob-to-any-file: 'client/src/pages/community/**/*'
    - any-glob-to-any-file: 'client/src/context/CommunityContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useCommunity.js'

venues:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/venueController.js'
    - any-glob-to-any-file: 'server/routes/venueRoute.js'
    - any-glob-to-any-file: 'server/models/venueModel.js'
    - any-glob-to-any-file: 'client/src/pages/venue/**/*'
    - any-glob-to-any-file: 'client/src/components/venues/**/*'
    - any-glob-to-any-file: 'client/src/context/VenueContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useVenue.js'

leaderboard:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/leaderboardController.js'
    - any-glob-to-any-file: 'server/routes/leaderboardRoute.js'
    - any-glob-to-any-file: 'server/models/leaderboardModel.js'
    - any-glob-to-any-file: 'client/src/pages/leaderboard/**/*'
    - any-glob-to-any-file: 'client/src/components/leaderboard/**/*'
    - any-glob-to-any-file: 'client/src/context/LeaderboardContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useLeaderboard.js'

notifications:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/notificationController.js'
    - any-glob-to-any-file: 'server/routes/notificationRoute.js'
    - any-glob-to-any-file: 'server/models/notificationModel.js'
    - any-glob-to-any-file: 'client/src/pages/Notifications.jsx'
    - any-glob-to-any-file: 'server/config/sendEmail.js'
    - any-glob-to-any-file: 'server/utils/emailTemplate.js'

admin:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/adminController.js'
    - any-glob-to-any-file: 'server/routes/adminRoute.js'
    - any-glob-to-any-file: 'client/src/pages/admin/**/*'
    - any-glob-to-any-file: 'client/src/components/layout/AdminLayout.jsx'

'ui/ux':
  - changed-files:
    - any-glob-to-any-file: 'client/src/components/ui/**/*'
    - any-glob-to-any-file: 'client/src/components/**/*.jsx'
    - any-glob-to-any-file: 'client/src/index.css'
    - any-glob-to-any-file: 'client/src/**/*.css'
    - any-glob-to-any-file: 'tailwind.config.js'
    - any-glob-to-any-file: 'postcss.config.js'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'docs/**/*'

config:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: '*.config.js'
    - any-glob-to-any-file: '*.config.json'
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'
    - any-glob-to-any-file: '.env*'
    - any-glob-to-any-file: 'vite.config.js'
    - any-glob-to-any-file: 'eslint.config.js'
    - any-glob-to-any-file: 'jsconfig.json'
    - any-glob-to-any-file: 'vercel.json'
    - any-glob-to-any-file: 'server/config/**/*'

testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.js'
    - any-glob-to-any-file: '**/*.spec.js'
    - any-glob-to-any-file: '**/__tests__/**'
    - any-glob-to-any-file: '**/tests/**'
    - any-glob-to-any-file: 'jest.config.js'
    - any-glob-to-any-file: 'vitest.config.js'
    - any-glob-to-any-file: 'cypress.config.js'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'
    - any-glob-to-any-file: 'Dockerfile*'
    - any-glob-to-any-file: 'docker-compose*'
    - any-glob-to-any-file: '.dockerignore'

security:
  - changed-files:
    - any-glob-to-any-file: 'server/middleware/authMiddleware.js'
    - any-glob-to-any-file: 'server/utils/rateLimitingUtils.js'
    - any-glob-to-any-file: 'server/utils/validation.js'

performance:
  - changed-files:
    - any-glob-to-any-file: 'server/utils/cron.js'
    - any-glob-to-any-file: 'client/src/hooks/useDebounce.js'
    - any-glob-to-any-file: '**/*cache*'
    - any-glob-to-any-file: '**/*optimize*'

socket:
  - changed-files:
    - any-glob-to-any-file: 'server/config/socket.js'
    - any-glob-to-any-file: 'client/src/context/SocketContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useSocket.js'
    - any-glob-to-any-file: 'client/src/components/events/EventChat.jsx'

uploads:
  - changed-files:
    - any-glob-to-any-file: 'server/routes/uploadRoute.js'
    - any-glob-to-any-file: 'server/config/cloudinary.js'
    - any-glob-to-any-file: 'client/src/utils/fileUpload.js'
    - any-glob-to-any-file: 'client/src/utils/uploadUtils.js'
    - any-glob-to-any-file: 'client/src/components/ui/image-upload.jsx'

utils:
  - changed-files:
    - any-glob-to-any-file: 'server/utils/**/*'
    - any-glob-to-any-file: 'client/src/utils/**/*'
    - any-glob-to-any-file: 'client/src/lib/**/*'
    - any-glob-to-any-file: 'server/scripts/**/*'

fix: venues, community pages errors
  client/public/venues/default-venue.png
  client/src/App.jsx
  client/src/components/venues/VenueCard.jsx
  client/src/context/CommunityContext.jsx
  client/src/pages/Notifications.jsx
  client/src/pages/community/EditCommunity.jsx
  client/src/pages/venues/VenueDetails.jsx
  client/src/pages/venues/Venues.jsx
  server/controllers/communityController.js
  server/routes/communityRoute.js
  server/routes/venueRoute.js
Labels: frontend, backend, api, community, venues, notifications, ui/ux

chore: removed unused caching and created admin communities page
  client/src/App.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/context/CommunityContext.jsx
  client/src/pages/admin/ManageCommunities.jsx
  client/src/pages/community/EditCommunity.jsx
  server/controllers/adminController.js
  server/controllers/communityController.js
  server/models/communityModel.js
  server/routes/adminRoute.js
  server/utils/cacheKeys.js
Labels: frontend, backend, api, database, community, admin, ui/ux, performance, utils

feat: release V2.0.3
  client/src/App.jsx
  client/src/components/Header.jsx
  client/src/components/home/CallToAction.jsx
  client/src/components/home/CategoriesSection.jsx
  client/src/components/home/FeaturesSection.jsx
  client/src/components/home/Testimonials.jsx
  client/src/index.css
  client/src/pages/admin/EditVenue.jsx
  client/src/pages/athletes/Athletes.jsx
  client/src/pages/community/Communities.jsx
  client/src/pages/community/CommunityOld.jsx
  client/src/pages/venues/VenueDetails.jsx
  client/tailwind.config.js
  server/controllers/communityController.js
Labels: frontend, backend, api, athletes, community, admin, ui/ux

chore: change layout of profile page
  client/src/pages/Profile.jsx
Labels: frontend

chore: done little changes in ui accross multiple pages
  client/src/pages/Notifications.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/event/EventDetails.jsx
Labels: frontend, events, community, notifications

feat: release V2.0.2, fixed several api errors and frontend bugs, lack of responsiveness etc
  client/src/components/Header.jsx
  client/src/components/events/EventCreateForm.jsx
  client/src/components/events/VenueSelector.jsx
  client/src/components/profile/FollowersDialog.jsx
  client/src/context/AuthContext.jsx
  client/src/data/eventCategories.js
  client/src/pages/Dashboard.jsx
  client/src/pages/Profile.jsx
  client/src/pages/PublicProfile.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/event/CreateEvent.jsx
  client/src/pages/venues/MyBookings.jsx
  client/src/schemas/profileSchema.js
  server/controllers/authController.js
  server/controllers/communityController.js
  server/controllers/eventController.js
  server/controllers/userController.js
  server/routes/userRoute.js
Labels: frontend, backend, api, authentication, events, community, ui/ux

fix: added all required navlinks in header and added new sidebar
  client/src/components/Header.jsx
Labels: frontend, ui/ux

chore: fix some bugs, added new pages
  client/src/components/Header.jsx
  client/src/index.css
  client/src/pages/Notifications.jsx
  client/src/pages/PublicProfile.jsx
  client/src/pages/admin/EditVenue.jsx
  client/src/pages/event/EventPayment.jsx
  server/config/cloudinary.js
  server/controllers/eventController_myevents.js
  server/controllers/eventController_payment.js
  server/controllers/leaderboardController.js
  server/controllers/venueController.js
  server/models/eventModel.js
  server/models/venueModel.js
  server/utils/userStatsHelpers.js
Labels: frontend, backend, api, database, events, venues, leaderboard, notifications, admin, ui/ux, config, uploads, utils

fix: evwntcard join now button. added real states and updation of user stats, activity, achivement logic
  client/src/components/events/EventCard.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/event/EventDetails.jsx
  client/src/pages/event/Events.jsx
  server/controllers/communityController.js
  server/controllers/eventController.js
  server/controllers/venueController.js
  server/utils/userStatsHelper.js
Labels: frontend, backend, api, events, community, venues, ui/ux, utils

feat: Added real-time athlete follow & unfollow in athlete page
  client/src/components/athletes/AthleteCard.jsx
  client/src/context/AthletesContext.jsx
  client/src/pages/athletes/Athletes.jsx
Labels: frontend, athletes, ui/ux

fix: styling bugs
  client/src/components/CustomToast.jsx
  client/src/index.css
  client/src/pages/venues/VenueDetails.jsx
Labels: frontend, ui/ux

fixed styling bugs and added tooltip in header
  client/src/components/Header.jsx
  client/src/components/community/PostCard.jsx
  client/src/components/ui/button.jsx
  client/src/index.css
  client/src/main.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/leaderboard/GlobalLeaderboard.jsx
  client/src/pages/leaderboard/Leaderboard.jsx
  client/src/pages/leaderboard/SportLeaderboard.jsx
Labels: frontend, community, leaderboard, ui/ux

fixed ui of auth screen and moderninput component, removed unused herobg
  client/public/favicon.svg
  client/src/components/HeroBg.jsx
  client/src/components/ModernInput.jsx
  client/src/components/home/CategoriesSection.jsx
  client/src/components/home/HeroSection.jsx
  client/src/components/home/UpcomingEvents.jsx
  client/src/pages/auth/ForgotPassword.jsx
  client/src/pages/auth/Login.jsx
  client/src/pages/auth/Register.jsx
  client/src/pages/auth/ResetPassword.jsx
  client/src/pages/event/Events.jsx
  client/src/pages/leaderboard/Leaderboard.jsx
Labels: frontend, authentication, events, leaderboard, ui/ux

removed redis configuration
  server/server.js
Labels: backend

feat: release v2.0.4, fixed notification and update profile api error and added metadata
  client/index.html
  client/public/favicon.png
  client/public/favicon.svg
  client/public/image-1.png
  client/public/og-athletes.png
  client/public/og-events.png
  client/public/og-home.png
  client/public/og-leaderboard.png
  client/public/og-venues.png
  client/src/App.jsx
  client/src/hooks/useMetadata.js
  client/src/pages/PublicProfile.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/event/EventDetails.jsx
  client/src/pages/venues/VenueDetails.jsx
  server/controllers/authController.js
  server/controllers/notificationController.js
  server/models/userModel.js
Labels: frontend, backend, api, database, authentication, events, community, notifications

Chore: Update README.md
  README.md
  client/README.md
  server/README.md
Labels: frontend, backend, documentation

chore: update metatags
  client/index.html
  client/src/hooks/useMetadata.js
  client/src/pages/community/PostDetail.jsx
Labels: frontend, community

fix; solved notification delete error
  server/controllers/notificationController.js
Labels: backend, api, notifications

chore: remove bg of event details and fix footer
  client/src/components/Footer.jsx
  client/src/pages/event/EventDetails.jsx
Labels: frontend, events, ui/ux

fix: solved event updation issue and event create page ui issue
  client/src/components/events/EventCreateForm.jsx
  client/src/pages/event/EditEvent.jsx
  client/src/schemas/eventSchema.js
Labels: frontend, events, ui/ux

fix: responsiveness of event details page and event forms
  client/src/components/events/EventCreateForm.jsx
  client/src/pages/event/CreateEvent.jsx
  client/src/pages/event/EditEvent.jsx
  client/src/pages/event/EventDetails.jsx
Labels: frontend, events, ui/ux

chore: update README.md with up-to-date with current project
  README.md
Labels: documentation

fix: event rating issue
  server/controllers/eventController.js
  server/server.js
Labels: backend, api, events

fix: event rating issue
  client/src/pages/event/EventDetails.jsx
Labels: frontend, events

fix: get events issue
  server/controllers/eventController.js
Labels: backend, api, events

chore: added reusable components
  client/src/components/athletes/index.js
  client/src/components/common/index.js
  client/src/components/community/index.js
  client/src/components/events/details/EventChatModal.jsx
  client/src/components/events/details/EventHeroSection.jsx
  client/src/components/events/details/EventModals.jsx
  client/src/components/events/details/EventOverviewTab.jsx
  client/src/components/events/details/EventParticipantsTab.jsx
  client/src/components/events/details/EventReviewsTab.jsx
  client/src/components/events/details/EventSidebar.jsx
  client/src/components/events/details/index.js
  client/src/components/events/index.js
  client/src/components/home/index.js
  client/src/components/index.js
  client/src/components/layout/index.js
  client/src/components/profile/index.js
  client/src/components/venues/index.js
  client/src/pages/event/EventDetails.jsx
Labels: frontend, events, athletes, venues, ui/ux

feat: upgrade community page
  client/src/components/community/CommunityCard.jsx
  client/src/components/community/CommunityComponents.jsx
  client/src/components/community/CommunityFilters.jsx
  client/src/components/community/CommunitySkeletons.jsx
  client/src/components/community/index.js
  client/src/pages/community/Communities.jsx
Labels: frontend, community, ui/ux

feat: upgrade community details page
  client/src/components/community/CommunityCard.jsx
  client/src/components/community/PostCard.jsx
  client/src/components/community/details/CommunityAbout.jsx
  client/src/components/community/details/CommunityDetailsSkeleton.jsx
  client/src/components/community/details/CommunityDialogs.jsx
  client/src/components/community/details/CommunityHeroSection.jsx
  client/src/components/community/details/CommunityMembers.jsx
  client/src/components/community/details/CommunityPosts.jsx
  client/src/components/community/details/CommunityStats.jsx
  client/src/components/community/details/index.js
  client/src/components/community/index.js
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/community/PostDetail.jsx
Labels: frontend, community, ui/ux

feat: upgrade notification page
  client/src/pages/Notifications.jsx
Labels: frontend, notifications

fix: community skeleton
  client/src/components/community/details/CommunityDetailsSkeleton.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/community/CreateCommunity.jsx
Labels: frontend, community, ui/ux

chore: improved ui of pages
  client/src/components/athletes/AthleteCard.jsx
  client/src/components/venues/VenueCard.jsx
  client/src/pages/athletes/Athletes.jsx
  client/src/pages/community/Communities.jsx
  client/src/pages/event/Events.jsx
  client/src/pages/venues/Venues.jsx
Labels: frontend, events, athletes, community, venues, ui/ux

chore: update stadium icon
  client/src/pages/venues/Venues.jsx
Labels: frontend

feat: improved venues pages
  client/src/pages/venues/MyBookings.jsx
  client/src/pages/venues/VenueBooking.jsx
  client/src/pages/venues/VenueDetails.jsx
Labels: frontend

feat: added new features in community
  client/src/App.jsx
  client/src/components/community/details/CommunityAbout.jsx
  client/src/components/community/details/CommunityHeroSection.jsx
  client/src/context/CommunityContext.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/community/EditCommunity.jsx
  client/src/pages/community/ManageCommunity.jsx
  server/controllers/communityController.js
  server/routes/communityRoute.js
Labels: frontend, backend, api, community, ui/ux

feat: improved events, venues, leaderboard and community pages
  client/src/components/events/EventCard.jsx
  client/src/pages/Notifications.jsx
  client/src/pages/community/Communities.jsx
  client/src/pages/event/Events.jsx
  client/src/pages/leaderboard/Leaderboard.jsx
  client/src/pages/venues/Venues.jsx
  server/controllers/eventController.js
  server/controllers/leaderboardController.js
  server/models/leaderboardModel.js
Labels: frontend, backend, api, database, events, community, leaderboard, notifications, ui/ux

feat: created new upcoming events api
  client/src/components/home/UpcomingEvents.jsx
  server/controllers/eventController.js
  server/routes/eventRoute.js
Labels: frontend, backend, api, events, ui/ux

fix: show past events filter bug
  server/controllers/eventController.js
Labels: backend, api, events

fix: community details skeleton
  client/src/components/community/details/CommunityDetailsSkeleton.jsx
Labels: frontend, ui/ux

Fix community details page for guest access and mobile responsiveness
  client/src/components/community/details/CommunityDialogs.jsx
  client/src/components/community/details/CommunityHeroSection.jsx
  client/src/components/community/details/CommunityPosts.jsx
  client/src/components/events/details/EventChatModal.jsx
  client/src/components/events/details/EventModals.jsx
  client/src/components/layout/Layout.jsx
  client/src/components/profile/FollowersDialog.jsx
  client/src/components/ui/alert-dialog.jsx
  client/src/components/ui/command.jsx
  client/src/components/ui/dialog.jsx
  client/src/components/ui/scroll-area.jsx
  client/src/pages/PublicProfile.jsx
  client/src/pages/community/CommunityDetails.jsx
  server/routes/communityRoute.js
Labels: frontend, backend, api, events, community, ui/ux

chore: remove admin code and clean project with zero admin code
  client/src/App.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/pages/admin/AdminAnalytics.jsx
  client/src/pages/admin/AdminDashboard.jsx
  client/src/pages/admin/AdminMessages.jsx
  client/src/pages/admin/AdminSearch.jsx
  client/src/pages/admin/AdminSettings.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/pages/admin/AllVenueBookings.jsx
  client/src/pages/admin/CreateVenue.jsx
  client/src/pages/admin/CreateVenue_new.jsx
  client/src/pages/admin/EditVenue.jsx
  client/src/pages/admin/EditVenue_backup.jsx
  client/src/pages/admin/ManageCommunities.jsx
  client/src/pages/admin/ManageEvents.jsx
  client/src/pages/admin/ManageUsers.jsx
  client/src/pages/admin/NotificationPage.jsx
  client/src/pages/admin/VenueBookings.jsx
  server/controllers/adminController.js
  server/routes/adminRoute.js
  server/server.js
Labels: frontend, backend, api, admin, ui/ux
