Repository imprince26/SportsBuddy2, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, api, database, authentication, events, athletes, community, venues, leaderboard, notifications, admin, ui/ux, documentation, config, testing, ci/cd, security, performance, socket, uploads, utils

.github/labeler.yml:

frontend:
  - changed-files:
    - any-glob-to-any-file: 'client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'server/**/*'

api:
  - changed-files:
    - any-glob-to-any-file: 'server/routes/**/*'
    - any-glob-to-any-file: 'server/controllers/**/*'

database:
  - changed-files:
    - any-glob-to-any-file: 'server/models/**/*'
    - any-glob-to-any-file: 'server/config/db.js'

authentication:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/authController.js'
    - any-glob-to-any-file: 'server/routes/authRoute.js'
    - any-glob-to-any-file: 'server/middleware/authMiddleware.js'
    - any-glob-to-any-file: 'client/src/pages/auth/**/*'
    - any-glob-to-any-file: 'client/src/context/AuthContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useAuth.js'
    - any-glob-to-any-file: 'client/src/schemas/authSchema.js'

events:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/eventController.js'
    - any-glob-to-any-file: 'server/routes/eventRoute.js'
    - any-glob-to-any-file: 'server/models/eventModel.js'
    - any-glob-to-any-file: 'client/src/pages/event/**/*'
    - any-glob-to-any-file: 'client/src/components/events/**/*'
    - any-glob-to-any-file: 'client/src/context/EventContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useEvents.js'
    - any-glob-to-any-file: 'client/src/schemas/eventSchema.js'

athletes:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/athletesController.js'
    - any-glob-to-any-file: 'server/routes/athletesRoute.js'
    - any-glob-to-any-file: 'client/src/pages/athletes/**/*'
    - any-glob-to-any-file: 'client/src/components/athletes/**/*'
    - any-glob-to-any-file: 'client/src/context/AthletesContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useAthletes.js'

community:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/communityController.js'
    - any-glob-to-any-file: 'server/routes/communityRoute.js'
    - any-glob-to-any-file: 'server/models/communityModel.js'
    - any-glob-to-any-file: 'client/src/pages/community/**/*'
    - any-glob-to-any-file: 'client/src/context/CommunityContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useCommunity.js'

venues:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/venueController.js'
    - any-glob-to-any-file: 'server/routes/venueRoute.js'
    - any-glob-to-any-file: 'server/models/venueModel.js'
    - any-glob-to-any-file: 'client/src/pages/venue/**/*'
    - any-glob-to-any-file: 'client/src/components/venues/**/*'
    - any-glob-to-any-file: 'client/src/context/VenueContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useVenue.js'

leaderboard:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/leaderboardController.js'
    - any-glob-to-any-file: 'server/routes/leaderboardRoute.js'
    - any-glob-to-any-file: 'server/models/leaderboardModel.js'
    - any-glob-to-any-file: 'client/src/pages/leaderboard/**/*'
    - any-glob-to-any-file: 'client/src/components/leaderboard/**/*'
    - any-glob-to-any-file: 'client/src/context/LeaderboardContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useLeaderboard.js'

notifications:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/notificationController.js'
    - any-glob-to-any-file: 'server/routes/notificationRoute.js'
    - any-glob-to-any-file: 'server/models/notificationModel.js'
    - any-glob-to-any-file: 'client/src/pages/Notifications.jsx'
    - any-glob-to-any-file: 'server/config/sendEmail.js'
    - any-glob-to-any-file: 'server/utils/emailTemplate.js'

admin:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/adminController.js'
    - any-glob-to-any-file: 'server/routes/adminRoute.js'
    - any-glob-to-any-file: 'client/src/pages/admin/**/*'
    - any-glob-to-any-file: 'client/src/components/layout/AdminLayout.jsx'

'ui/ux':
  - changed-files:
    - any-glob-to-any-file: 'client/src/components/ui/**/*'
    - any-glob-to-any-file: 'client/src/components/**/*.jsx'
    - any-glob-to-any-file: 'client/src/index.css'
    - any-glob-to-any-file: 'client/src/**/*.css'
    - any-glob-to-any-file: 'tailwind.config.js'
    - any-glob-to-any-file: 'postcss.config.js'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'docs/**/*'

config:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: '*.config.js'
    - any-glob-to-any-file: '*.config.json'
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'
    - any-glob-to-any-file: '.env*'
    - any-glob-to-any-file: 'vite.config.js'
    - any-glob-to-any-file: 'eslint.config.js'
    - any-glob-to-any-file: 'jsconfig.json'
    - any-glob-to-any-file: 'vercel.json'
    - any-glob-to-any-file: 'server/config/**/*'

testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.js'
    - any-glob-to-any-file: '**/*.spec.js'
    - any-glob-to-any-file: '**/__tests__/**'
    - any-glob-to-any-file: '**/tests/**'
    - any-glob-to-any-file: 'jest.config.js'
    - any-glob-to-any-file: 'vitest.config.js'
    - any-glob-to-any-file: 'cypress.config.js'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'
    - any-glob-to-any-file: 'Dockerfile*'
    - any-glob-to-any-file: 'docker-compose*'
    - any-glob-to-any-file: '.dockerignore'

security:
  - changed-files:
    - any-glob-to-any-file: 'server/middleware/authMiddleware.js'
    - any-glob-to-any-file: 'server/utils/rateLimitingUtils.js'
    - any-glob-to-any-file: 'server/utils/validation.js'

performance:
  - changed-files:
    - any-glob-to-any-file: 'server/utils/cron.js'
    - any-glob-to-any-file: 'client/src/hooks/useDebounce.js'
    - any-glob-to-any-file: '**/*cache*'
    - any-glob-to-any-file: '**/*optimize*'

socket:
  - changed-files:
    - any-glob-to-any-file: 'server/config/socket.js'
    - any-glob-to-any-file: 'client/src/context/SocketContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useSocket.js'
    - any-glob-to-any-file: 'client/src/components/events/EventChat.jsx'

uploads:
  - changed-files:
    - any-glob-to-any-file: 'server/routes/uploadRoute.js'
    - any-glob-to-any-file: 'server/config/cloudinary.js'
    - any-glob-to-any-file: 'client/src/utils/fileUpload.js'
    - any-glob-to-any-file: 'client/src/utils/uploadUtils.js'
    - any-glob-to-any-file: 'client/src/components/ui/image-upload.jsx'

utils:
  - changed-files:
    - any-glob-to-any-file: 'server/utils/**/*'
    - any-glob-to-any-file: 'client/src/utils/**/*'
    - any-glob-to-any-file: 'client/src/lib/**/*'
    - any-glob-to-any-file: 'server/scripts/**/*'

chore(github): added blank issue template
  .github/ISSUE_TEMPLATE/blank.md
Labels: documentation, config

docs: updated readme and contributing files
  CONTRIBUTING.md
  README.md
Labels: documentation

docs: added contributing.md
  .github/CONTRIBUTING.md
Labels: documentation, config

chore: update cors origin
  server/server.js
Labels: backend

fix(github): add correct labels for dependabot
  .github/dependabot.yml
Labels: config

chore(github): added better pr thanks comments msg
  .github/workflows/pr-thank-comment.yml
Labels: config, ci/cd

chore(client)(event): upgrade eventdetails page ui
  client/src/pages/event/EventDetails.jsx
Labels: frontend, events

chore(client)(profile): upgrade profile page ui
  client/src/components/ui/progress.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/Profile.jsx
Labels: frontend, ui/ux

fix: fixed ui
  client/src/components/Footer.jsx
  client/src/components/events/EventsFilters.jsx
  client/src/components/home/CallToAction.jsx
  client/src/components/home/CategoriesSection.jsx
  client/src/components/home/FeaturesSection.jsx
  client/src/components/home/UpcomingEvents.jsx
  client/src/pages/Home.jsx
  client/src/pages/event/Events.jsx
Labels: frontend, events, ui/ux

fix: fixed ui
  client/src/components/home/HeroSection.jsx
  client/src/pages/community/Community.jsx
Labels: frontend, community, ui/ux

chore: update package
  server/package-lock.json
Labels: backend

feat: changed loader ui and make it theme dynamic(dark&light)
  client/index.html
  client/package-lock.json
  client/src/components/Loader.jsx
  client/src/main.jsx
Labels: frontend, ui/ux

feat: added event details skeleton
  client/src/components/events/EventDetailsSkeleton.jsx
Labels: frontend, events, ui/ux

chore: added meta tag and changed logo
  client/index.html
  client/public/favicon.svg
  client/public/logo2.svg
  client/public/og.png
  client/src/components/Header.jsx
Labels: frontend, ui/ux

chore: change cors origin format
  server/server.js
Labels: backend

chore: change cors origin format
  server/server.js
Labels: backend

chore: update dependabot.yml file to make changes monthly
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/first-interaction-welcome.yml
  .github/workflows/pr-size-labeler.yml
  .github/workflows/pr-thank-comment.yml
Labels: config, ci/cd

chore(workflow): delete release drafter-release file
  .github/workflows/release-drafter.yml
Labels: config, ci/cd

chore: remove unnecessary animation and fix ui bug
  client/src/components/BgElements.jsx
  client/src/components/Header.jsx
  client/src/components/HeroBg.jsx
  client/src/components/home/CallToAction.jsx
  client/src/components/home/CategoriesSection.jsx
  client/src/components/home/FeaturesSection.jsx
  client/src/components/home/Testimonials.jsx
  client/src/components/home/UpcomingEvents.jsx
  client/src/context/ThemeProvider.jsx
  client/src/pages/NotFound.jsx
  client/src/pages/auth/Login.jsx
  client/src/pages/auth/Register.jsx
  client/src/pages/event/Events.jsx
Labels: frontend, authentication, events, ui/ux

feat: added caching in apis and ratelimiting using upstash
  server/.env.example
  server/cache/athletesCache.js
  server/cache/communityCache.js
  server/cache/eventCache.js
  server/cache/leaderboardCache.js
  server/cache/venueCache.js
  server/config/redis.js
  server/config/upstashRateLimiter.js
  server/controllers/adminController.js
  server/controllers/eventController.js
  server/middleware/cacheMiddleware.js
  server/package-lock.json
  server/package.json
  server/routes/adminRoute.js
  server/routes/athletesRoute.js
  server/routes/communityRoute.js
  server/routes/eventRoute.js
  server/routes/leaderboardRoute.js
  server/routes/userRoute.js
  server/routes/venueRoute.js
  server/server.js
  server/utils/cacheKeys.js
Labels: backend, api, events, athletes, community, venues, leaderboard, admin, config, performance, utils

chore: format the new code
  server/cache/athletesCache.js
  server/cache/communityCache.js
  server/cache/eventCache.js
  server/cache/leaderboardCache.js
  server/cache/venueCache.js
  server/config/redis.js
  server/config/upstashRateLimiter.js
  server/middleware/cacheMiddleware.js
  server/server.js
Labels: backend, config, performance

chore: format the new code
  server/controllers/eventController.js
  server/server.js
  server/utils/rateLimitingUtils.js
Labels: backend, api, events, security, utils

chore: format the new code
  .github/CONTRIBUTING.md
  client/.env.example
Labels: frontend, documentation, config

fix: admin pages layout and ui
  client/src/components/layout/AdminLayout.jsx
  client/src/components/ui/button.jsx
  client/src/index.css
  client/src/pages/Notifications.jsx
  client/src/pages/admin/AdminAnalytics.jsx
  client/src/pages/admin/AdminDashboard.jsx
  client/src/pages/admin/AdminSearch.jsx
  client/src/pages/admin/ManageEvents.jsx
  client/src/pages/admin/ManageUsers.jsx
  client/src/pages/admin/NotificationPage.jsx
Labels: frontend, notifications, admin, ui/ux

feat: added new theme
  client/index.html
  client/src/components/BacktoTop.jsx
  client/src/components/CustomToast.jsx
  client/src/components/Footer.jsx
  client/src/components/Header.jsx
  client/src/components/HeroBg.jsx
  client/src/components/Loader.jsx
  client/src/components/ModernInput.jsx
  client/src/components/events/EventCard.jsx
  client/src/components/events/EventsFilters.jsx
  client/src/components/events/EventsLoadingSkeleton.jsx
  client/src/components/home/CallToAction.jsx
  client/src/components/home/CategoriesSection.jsx
  client/src/components/home/FeaturesSection.jsx
  client/src/components/home/HeroSection.jsx
  client/src/components/home/Testimonials.jsx
  client/src/components/home/UpcomingEvents.jsx
  client/src/components/layout/Layout.jsx
  client/src/components/ui/button.jsx
  client/src/index.css
  client/src/pages/Dashboard.jsx
  client/src/pages/Home.jsx
  client/src/pages/NotFound.jsx
  client/src/pages/Notifications.jsx
  client/src/pages/Profile.jsx
  client/src/pages/TeamManagement.jsx
  client/src/pages/auth/ForgotPassword.jsx
  client/src/pages/auth/Login.jsx
  client/src/pages/auth/Register.jsx
  client/src/pages/auth/ResetPassword.jsx
  client/src/pages/event/CreateEvent.jsx
  client/src/pages/event/EditEvent.jsx
  client/src/pages/event/EventChat.jsx
  client/src/pages/event/EventDetails.jsx
  client/src/pages/event/Events.jsx
  client/src/pages/public/About.jsx
  client/src/pages/public/Privacy.jsx
  client/src/pages/public/Search.jsx
  client/src/pages/public/Terms.jsx
  client/tailwind.config.js
Labels: frontend, authentication, events, notifications, ui/ux

feat: added new pages, functionality etc
  client/src/App.jsx
  client/src/pages/PublicProfile.jsx
  client/src/pages/athletes/Athletes.jsx
  client/src/pages/event/CreateEvent.jsx
  client/src/pages/leaderboard/Leaderboard.jsx
  client/src/pages/venues/VenueDetails.jsx
  client/src/pages/venues/Venues.jsx
  server/controllers/eventController.js
Labels: frontend, backend, api, events, athletes, leaderboard

feat: added venues, leaderboard, admin venues etc new features in sportsbuddy
  client/src/App.jsx
  client/src/components/events/EventChat.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/components/ui/table.jsx
  client/src/context/LeaderboardContext.jsx
  client/src/context/VenueContext.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/NotFound.jsx
  client/src/pages/Profile.jsx
  client/src/pages/admin/AdminDashboard.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/pages/admin/CreateVenue.jsx
  client/src/pages/admin/EditVenue.jsx
  client/src/pages/community/Community.jsx
  client/src/pages/community/CreateCommunity.jsx
  client/src/pages/event/CreateEvent.jsx
  client/src/pages/event/EditEvent.jsx
  client/src/pages/event/EventChat.jsx
  client/src/pages/event/EventDetails.jsx
  client/src/pages/leaderboard/Leaderboard.jsx
  client/src/pages/public/Contact.jsx
  client/src/pages/public/Privacy.jsx
  client/src/pages/venues/Venues.jsx
  server/controllers/venueController.js
Labels: frontend, backend, api, events, community, venues, leaderboard, admin, ui/ux, socket

feat: improved venue features and added booking option and booking management for admin
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/components/ui/button.jsx
  client/src/components/ui/radio-group.jsx
  client/src/context/VenueContext.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/NotFound.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/pages/admin/AllVenueBookings.jsx
  client/src/pages/admin/CreateVenue_new.jsx
  client/src/pages/admin/EditVenue.jsx
  client/src/pages/admin/EditVenue_backup.jsx
  client/src/pages/admin/VenueBookings.jsx
  client/src/pages/athletes/Athletes.jsx
  client/src/pages/event/EventDetails.jsx
  client/src/pages/venues/VenueBooking.jsx
  client/src/pages/venues/VenueDetails.jsx
  server/controllers/adminController.js
  server/controllers/venueController.js
  server/models/venueModel.js
  server/routes/adminRoute.js
Labels: frontend, backend, api, database, events, athletes, venues, admin, ui/ux

fixed venue rating bug, edit eventloading skeleton, venues page, added mybooking page
  client/src/App.jsx
  client/src/components/Header.jsx
  client/src/components/events/EventDetailsSkeleton.jsx
  client/src/context/VenueContext.jsx
  client/src/pages/venues/MyBookings.jsx
  client/src/pages/venues/VenueDetails.jsx
  server/controllers/userController.js
  server/controllers/venueController.js
  server/models/venueModel.js
  server/routes/userRoute.js
Labels: frontend, backend, api, database, events, venues, ui/ux

create community post feeds and more
  client/src/App.jsx
  client/src/components/Header.jsx
  client/src/context/CommunityContext.jsx
  client/src/pages/PublicProfile.jsx
  client/src/pages/community/Communities.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/community/EditCommunity.jsx
  server/controllers/athletesController.js
  server/controllers/communityController.js
  server/models/communityModel.js
  server/routes/communityRoute.js
Labels: frontend, backend, api, database, athletes, community, ui/ux

create community post seperate page and post features
  client/src/App.jsx
  client/src/components/community/ImageGalleryModal.jsx
  client/src/components/community/PostCard.jsx
  client/src/context/CommunityContext.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/community/PostDetail.jsx
  server/controllers/communityController.js
  server/models/communityModel.js
  server/routes/communityRoute.js
Labels: frontend, backend, api, database, community, ui/ux

fix community post pages
  client/src/components/community/PostCard.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/community/PostDetail.jsx
  server/controllers/communityController.js
Labels: frontend, backend, api, community, ui/ux

fix comment section and ui of error boundary
  client/src/components/ErrorBoundary.jsx
  client/src/components/community/ImageGalleryModal.jsx
  client/src/pages/community/PostDetail.jsx
  server/controllers/communityController.js
Labels: frontend, backend, api, community, ui/ux

feat: added edit and deletion of community post and comment
  client/src/components/community/PostCard.jsx
  client/src/context/CommunityContext.jsx
  client/src/pages/community/CommunityDetails.jsx
  client/src/pages/community/PostDetail.jsx
  server/controllers/communityController.js
  server/routes/communityRoute.js
Labels: frontend, backend, api, community, ui/ux

fixed post comment edit issue
  client/src/components/CustomToast.jsx
  client/src/pages/community/PostDetail.jsx
  server/controllers/communityController.js
Labels: frontend, backend, api, community, ui/ux

chore: removed unnecessary caching
  server/controllers/adminController.js
  server/controllers/communityController.js
  server/controllers/eventController.js
  server/controllers/venueController.js
  server/routes/athletesRoute.js
  server/routes/communityRoute.js
  server/routes/leaderboardRoute.js
  server/routes/userRoute.js
  server/routes/venueRoute.js
Labels: backend, api, events, athletes, community, venues, leaderboard, admin

feat: added global search
  client/src/App.jsx
  client/src/components/events/EventCard.jsx
  client/src/components/events/VenueSelector.jsx
  client/src/components/venues/VenueCard.jsx
  client/src/pages/GlobalSearch.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/pages/admin/EditVenue.jsx
  client/src/pages/event/CreateEvent.jsx
  client/src/pages/event/EditEvent.jsx
  client/src/pages/event/Events.jsx
  client/src/pages/venues/Venues.jsx
  server/controllers/eventController.js
  server/controllers/venueController.js
  server/middleware/authMiddleware.js
  server/models/venueModel.js
  server/routes/venueRoute.js
Labels: frontend, backend, api, database, authentication, events, venues, admin, ui/ux, security

chore: added search option in header and fix some ui issues
  client/src/components/Header.jsx
  client/src/pages/GlobalSearch.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/pages/admin/AllVenueBookings.jsx
  client/src/pages/admin/VenueBookings.jsx
  client/src/pages/event/EventDetails.jsx
Labels: frontend, events, admin, ui/ux

chore: cheange time of cron job
  server/utils/cron.js
Labels: backend, performance, utils

fix: fixed /health api which was not working
  server/server.js
Labels: backend
