Repository imprince26/SportsBuddy2, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, api, database, authentication, events, athletes, community, venues, leaderboard, notifications, admin, ui/ux, documentation, config, testing, ci/cd, security, performance, socket, uploads, utils

.github/labeler.yml:

frontend:
  - changed-files:
    - any-glob-to-any-file: 'client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'server/**/*'

api:
  - changed-files:
    - any-glob-to-any-file: 'server/routes/**/*'
    - any-glob-to-any-file: 'server/controllers/**/*'

database:
  - changed-files:
    - any-glob-to-any-file: 'server/models/**/*'
    - any-glob-to-any-file: 'server/config/db.js'

authentication:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/authController.js'
    - any-glob-to-any-file: 'server/routes/authRoute.js'
    - any-glob-to-any-file: 'server/middleware/authMiddleware.js'
    - any-glob-to-any-file: 'client/src/pages/auth/**/*'
    - any-glob-to-any-file: 'client/src/context/AuthContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useAuth.js'
    - any-glob-to-any-file: 'client/src/schemas/authSchema.js'

events:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/eventController.js'
    - any-glob-to-any-file: 'server/routes/eventRoute.js'
    - any-glob-to-any-file: 'server/models/eventModel.js'
    - any-glob-to-any-file: 'client/src/pages/event/**/*'
    - any-glob-to-any-file: 'client/src/components/events/**/*'
    - any-glob-to-any-file: 'client/src/context/EventContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useEvents.js'
    - any-glob-to-any-file: 'client/src/schemas/eventSchema.js'

athletes:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/athletesController.js'
    - any-glob-to-any-file: 'server/routes/athletesRoute.js'
    - any-glob-to-any-file: 'client/src/pages/athletes/**/*'
    - any-glob-to-any-file: 'client/src/components/athletes/**/*'
    - any-glob-to-any-file: 'client/src/context/AthletesContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useAthletes.js'

community:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/communityController.js'
    - any-glob-to-any-file: 'server/routes/communityRoute.js'
    - any-glob-to-any-file: 'server/models/communityModel.js'
    - any-glob-to-any-file: 'client/src/pages/community/**/*'
    - any-glob-to-any-file: 'client/src/context/CommunityContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useCommunity.js'

venues:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/venueController.js'
    - any-glob-to-any-file: 'server/routes/venueRoute.js'
    - any-glob-to-any-file: 'server/models/venueModel.js'
    - any-glob-to-any-file: 'client/src/pages/venue/**/*'
    - any-glob-to-any-file: 'client/src/components/venues/**/*'
    - any-glob-to-any-file: 'client/src/context/VenueContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useVenue.js'

leaderboard:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/leaderboardController.js'
    - any-glob-to-any-file: 'server/routes/leaderboardRoute.js'
    - any-glob-to-any-file: 'server/models/leaderboardModel.js'
    - any-glob-to-any-file: 'client/src/pages/leaderboard/**/*'
    - any-glob-to-any-file: 'client/src/components/leaderboard/**/*'
    - any-glob-to-any-file: 'client/src/context/LeaderboardContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useLeaderboard.js'

notifications:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/notificationController.js'
    - any-glob-to-any-file: 'server/routes/notificationRoute.js'
    - any-glob-to-any-file: 'server/models/notificationModel.js'
    - any-glob-to-any-file: 'client/src/pages/Notifications.jsx'
    - any-glob-to-any-file: 'server/config/sendEmail.js'
    - any-glob-to-any-file: 'server/utils/emailTemplate.js'

admin:
  - changed-files:
    - any-glob-to-any-file: 'server/controllers/adminController.js'
    - any-glob-to-any-file: 'server/routes/adminRoute.js'
    - any-glob-to-any-file: 'client/src/pages/admin/**/*'
    - any-glob-to-any-file: 'client/src/components/layout/AdminLayout.jsx'

'ui/ux':
  - changed-files:
    - any-glob-to-any-file: 'client/src/components/ui/**/*'
    - any-glob-to-any-file: 'client/src/components/**/*.jsx'
    - any-glob-to-any-file: 'client/src/index.css'
    - any-glob-to-any-file: 'client/src/**/*.css'
    - any-glob-to-any-file: 'tailwind.config.js'
    - any-glob-to-any-file: 'postcss.config.js'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'docs/**/*'

config:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: '*.config.js'
    - any-glob-to-any-file: '*.config.json'
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'
    - any-glob-to-any-file: '.env*'
    - any-glob-to-any-file: 'vite.config.js'
    - any-glob-to-any-file: 'eslint.config.js'
    - any-glob-to-any-file: 'jsconfig.json'
    - any-glob-to-any-file: 'vercel.json'
    - any-glob-to-any-file: 'server/config/**/*'

testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.js'
    - any-glob-to-any-file: '**/*.spec.js'
    - any-glob-to-any-file: '**/__tests__/**'
    - any-glob-to-any-file: '**/tests/**'
    - any-glob-to-any-file: 'jest.config.js'
    - any-glob-to-any-file: 'vitest.config.js'
    - any-glob-to-any-file: 'cypress.config.js'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'
    - any-glob-to-any-file: 'Dockerfile*'
    - any-glob-to-any-file: 'docker-compose*'
    - any-glob-to-any-file: '.dockerignore'

security:
  - changed-files:
    - any-glob-to-any-file: 'server/middleware/authMiddleware.js'
    - any-glob-to-any-file: 'server/utils/rateLimitingUtils.js'
    - any-glob-to-any-file: 'server/utils/validation.js'

performance:
  - changed-files:
    - any-glob-to-any-file: 'server/utils/cron.js'
    - any-glob-to-any-file: 'client/src/hooks/useDebounce.js'
    - any-glob-to-any-file: '**/*cache*'
    - any-glob-to-any-file: '**/*optimize*'

socket:
  - changed-files:
    - any-glob-to-any-file: 'server/config/socket.js'
    - any-glob-to-any-file: 'client/src/context/SocketContext.jsx'
    - any-glob-to-any-file: 'client/src/hooks/useSocket.js'
    - any-glob-to-any-file: 'client/src/components/events/EventChat.jsx'

uploads:
  - changed-files:
    - any-glob-to-any-file: 'server/routes/uploadRoute.js'
    - any-glob-to-any-file: 'server/config/cloudinary.js'
    - any-glob-to-any-file: 'client/src/utils/fileUpload.js'
    - any-glob-to-any-file: 'client/src/utils/uploadUtils.js'
    - any-glob-to-any-file: 'client/src/components/ui/image-upload.jsx'

utils:
  - changed-files:
    - any-glob-to-any-file: 'server/utils/**/*'
    - any-glob-to-any-file: 'client/src/utils/**/*'
    - any-glob-to-any-file: 'client/src/lib/**/*'
    - any-glob-to-any-file: 'server/scripts/**/*'

feat: build scalable admin backend with rate limiting and moderation controls
  server/controllers/adminController.js
  server/controllers/authController.js
  server/controllers/notificationController.js
  server/middleware/authMiddleware.js
  server/middleware/rateLimitMiddleware.js
  server/models/adminAuditLogModel.js
  server/models/communityModel.js
  server/models/eventModel.js
  server/models/userModel.js
  server/models/venueModel.js
  server/routes/adminRoute.js
  server/routes/athletesRoute.js
  server/routes/authRoute.js
  server/routes/communityRoute.js
  server/routes/eventRoute.js
  server/routes/leaderboardRoute.js
  server/routes/notificationRoute.js
  server/routes/uploadRoute.js
  server/routes/userRoute.js
  server/routes/venueRoute.js
  server/server.js
  server/services/adminNotificationService.js
  server/utils/adminAudit.js
  server/utils/cron.js
Labels: backend, api, database, authentication, events, athletes, community, venues, leaderboard, notifications, admin, security, performance, uploads, utils

feat: added api validators
  server/controllers/adminController.js
  server/middleware/validateRequest.js
  server/routes/adminRoute.js
  server/validators/adminValidators.js
Labels: backend, api, admin

feat: created admin pages and fixed server error
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/admin/AdminEmptyState.jsx
  client/src/components/admin/AdminLoadingBlock.jsx
  client/src/components/admin/AdminMetricGrid.jsx
  client/src/components/admin/AdminPagination.jsx
  client/src/components/admin/AdminSectionHeader.jsx
  client/src/components/admin/AdminStatsCard.jsx
  client/src/components/admin/AdminStatusBadge.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/hooks/admin/useAdminAuditLogs.js
  client/src/hooks/admin/useAdminBookings.js
  client/src/hooks/admin/useAdminCommunities.js
  client/src/hooks/admin/useAdminEvents.js
  client/src/hooks/admin/useAdminGlobalSearch.js
  client/src/hooks/admin/useAdminGrowth.js
  client/src/hooks/admin/useAdminNotifications.js
  client/src/hooks/admin/useAdminOverview.js
  client/src/hooks/admin/useAdminSystemHealth.js
  client/src/hooks/admin/useAdminUsers.js
  client/src/hooks/admin/useAdminVenues.js
  client/src/main.jsx
  client/src/pages/admin/AdminAnalytics.jsx
  client/src/pages/admin/AdminAuditLogs.jsx
  client/src/pages/admin/AdminBookings.jsx
  client/src/pages/admin/AdminCommunities.jsx
  client/src/pages/admin/AdminDashboard.jsx
  client/src/pages/admin/AdminEvents.jsx
  client/src/pages/admin/AdminNotifications.jsx
  client/src/pages/admin/AdminUsers.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/schemas/adminSchemas.js
  client/src/store/adminUiStore.js
  client/src/utils/adminApi.js
  server/middleware/validateRequest.js
  server/validators/adminValidators.js
Labels: frontend, backend, admin, ui/ux, utils

feat: created admin pages and fixed server error
  client/src/App.jsx
  client/src/components/admin/AdminLoadingBlock.jsx
  client/src/components/admin/AdminStatsCard.jsx
  client/src/components/admin/AdminStatusBadge.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/components/ui/theme-toggle.jsx
  client/src/hooks/admin/useAdminCommunities.js
  client/src/hooks/admin/useAdminEvents.js
  client/src/hooks/admin/useAdminVenues.js
  client/src/pages/admin/AdminAnalytics.jsx
  client/src/pages/admin/AdminAuditLogs.jsx
  client/src/pages/admin/AdminBookings.jsx
  client/src/pages/admin/AdminCommunities.jsx
  client/src/pages/admin/AdminDashboard.jsx
  client/src/pages/admin/AdminEvents.jsx
  client/src/pages/admin/AdminNotifications.jsx
  client/src/pages/admin/AdminUsers.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/utils/adminApi.js
  server/controllers/adminController.js
  server/middleware/validateRequest.js
  server/models/communityModel.js
  server/models/eventModel.js
  server/models/venueModel.js
  server/routes/adminRoute.js
  server/server.js
  server/validators/adminValidators.js
Labels: frontend, backend, api, database, events, community, venues, admin, ui/ux, utils

feat: harden admin notification targeting and public trust badges
  client/src/components/athletes/AthleteCard.jsx
  client/src/components/community/details/CommunityHeroSection.jsx
  client/src/components/events/EventCard.jsx
  client/src/components/events/details/EventHeroSection.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/components/venues/VenueCard.jsx
  client/src/hooks/admin/useAdminNotifications.js
  client/src/pages/admin/AdminNotifications.jsx
  client/src/pages/athletes/Athletes.jsx
  client/src/pages/venues/VenueBooking.jsx
  client/src/pages/venues/VenueDetails.jsx
  client/src/pages/venues/Venues.jsx
  client/src/store/adminUiStore.js
  client/src/utils/adminApi.js
  server/controllers/adminController.js
  server/routes/adminRoute.js
  server/validators/adminValidators.js
Labels: frontend, backend, api, events, athletes, venues, admin, ui/ux, utils

chore: remove cache folder
  server/cache/athletesCache.js
  server/cache/communityCache.js
  server/cache/eventCache.js
  server/cache/leaderboardCache.js
  server/cache/venueCache.js
Labels: backend

feat: add secure Razorpay flow for paid events
  client/src/App.jsx
  client/src/components/CustomToast.jsx
  client/src/components/admin/AdminStatusBadge.jsx
  client/src/components/events/details/EventHeroSection.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/context/EventContext.jsx
  client/src/hooks/admin/useAdminEventPayments.js
  client/src/lib/razorpay.js
  client/src/pages/admin/AdminDashboard.jsx
  client/src/pages/admin/AdminEventPayments.jsx
  client/src/pages/event/EventDetails.jsx
  client/src/pages/event/EventPayment.jsx
  client/src/store/adminUiStore.js
  client/src/utils/adminApi.js
  server/RAZORPAY_TEST_MODE_SETUP.md
  server/controllers/adminController.js
  server/controllers/eventController.js
  server/controllers/eventPaymentController.js
  server/models/eventPaymentModel.js
  server/package-lock.json
  server/package.json
  server/routes/adminRoute.js
  server/routes/eventRoute.js
  server/server.js
  server/services/razorpayService.js
  server/validators/adminValidators.js
  server/validators/eventPaymentValidators.js
Labels: frontend, backend, api, database, events, admin, ui/ux, documentation, utils

feat: add secure Razorpay flow for paid events
  client/src/lib/razorpay.js
  client/src/pages/event/EventPayment.jsx
Labels: frontend, events, utils

fix: require valid mobile number before event payment
  client/src/pages/Profile.jsx
  client/src/pages/event/EventPayment.jsx
  client/src/schemas/profileSchema.js
  server/controllers/authController.js
  server/controllers/eventPaymentController.js
  server/models/userModel.js
Labels: frontend, backend, api, database, authentication, events

fix: harden auth and project verification
  .github/workflows/ci.yml
  README.md
  client/.env.example
  client/README.md
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/context/AuthContext.jsx
  client/src/context/SocketContext.jsx
  client/src/pages/Notifications.jsx
  client/src/utils/api.js
  client/vite.config.js
  server/.env.example
  server/README.md
  server/config/cloudinary.js
  server/config/socket.js
  server/controllers/authController.js
  server/package-lock.json
  server/package.json
Labels: frontend, backend, api, authentication, notifications, documentation, config, ci/cd, socket, uploads, utils

fix: harden auth and project verification
  README.md
  server/RAZORPAY_TEST_MODE_SETUP.md
Labels: backend, documentation

fix: stabilize community detail interactions
  client/src/components/community/ImageGalleryModal.jsx
  client/src/components/ui/dropdown-menu.jsx
  client/src/pages/community/CommunityDetails.jsx
Labels: frontend, community, ui/ux

feat: add venue edit flow
  client/src/App.jsx
  client/src/pages/venues/EditVenue.jsx
  client/src/pages/venues/VenueDetails.jsx
Labels: frontend

fix: debounce search and restore list navigation
  client/src/components/ScrollToTop.jsx
  client/src/context/VenueContext.jsx
  client/src/pages/athletes/Athletes.jsx
  client/src/pages/event/Events.jsx
  client/src/pages/venues/Venues.jsx
Labels: frontend, events, athletes, venues, ui/ux

fix: harden venue pagination
  client/src/context/VenueContext.jsx
  client/src/pages/venues/Venues.jsx
  server/controllers/venueController.js
Labels: frontend, backend, api, venues

fix: improve mobile notification actions
  client/src/pages/Notifications.jsx
Labels: frontend, notifications

fix: support cross-domain mobile auth
  client/src/context/AuthContext.jsx
  client/src/context/SocketContext.jsx
  client/src/utils/api.js
  server/.env.example
  server/config/socket.js
  server/controllers/authController.js
  server/server.js
  server/utils/cron.js
Labels: frontend, backend, api, authentication, config, performance, socket, utils

chore: remove dependabot configuration
  .github/dependabot.yml
Labels: config

fix: improve athlete recommendations
  client/src/context/AthletesContext.jsx
  client/src/pages/athletes/Athletes.jsx
  server/controllers/athletesController.js
Labels: frontend, backend, api, athletes

fix: polish athlete cards and error fallback
  client/src/components/ErrorBoundary.jsx
  client/src/components/athletes/AthleteCard.jsx
  client/src/pages/auth/ForgotPassword.jsx
Labels: frontend, authentication, athletes, ui/ux

feat: add comprehensive notification system for user actions
  server/controllers/communityController.js
  server/controllers/eventController.js
  server/controllers/eventPaymentController.js
  server/controllers/venueController.js
  server/models/userModel.js
  server/utils/notificationHelper.js
Labels: backend, api, database, events, community, venues, utils

fix: resolve Mongoose version conflict in notification creation
  server/utils/notificationHelper.js
Labels: backend, utils

feat: enhance notification UX with actionUrl navigation and better design
  client/src/pages/Notifications.jsx
  server/utils/userStatsHelper.js
Labels: frontend, backend, notifications, utils

Improve admin user management
  client/src/components/admin/AdminPagination.jsx
  client/src/hooks/admin/useAdminUsers.js
  client/src/pages/admin/AdminUsers.jsx
  client/src/schemas/adminSchemas.js
  client/src/utils/adminApi.js
  server/controllers/adminController.js
  server/routes/adminRoute.js
  server/validators/adminValidators.js
Labels: frontend, backend, api, admin, ui/ux, utils

feat: revamp admin dashboard experience
  client/src/components/admin/AdminMetricGrid.jsx
  client/src/components/admin/AdminStatsCard.jsx
  client/src/components/layout/AdminLayout.jsx
  client/src/pages/admin/AdminAnalytics.jsx
  client/src/pages/admin/AdminAuditLogs.jsx
  client/src/pages/admin/AdminBookings.jsx
  client/src/pages/admin/AdminCommunities.jsx
  client/src/pages/admin/AdminDashboard.jsx
  client/src/pages/admin/AdminEventPayments.jsx
  client/src/pages/admin/AdminEvents.jsx
  client/src/pages/admin/AdminNotifications.jsx
  client/src/pages/admin/AdminUsers.jsx
  client/src/pages/admin/AdminVenues.jsx
  client/src/store/adminUiStore.js
  server/controllers/adminController.js
  server/validators/adminValidators.js
Labels: frontend, backend, api, admin, ui/ux

chore: axios version upgrade
  client/package-lock.json
  client/package.json
  server/package-lock.json
Labels: frontend, backend

chore: axios version upgrade
  client/package-lock.json
Labels: frontend

chore: axios version upgrade
  client/package-lock.json
  client/package.json
Labels: frontend

chore: axios version upgrade
  client/package-lock.json
  client/package.json
Labels: frontend

chore: axios version upgrade
  client/package-lock.json
Labels: frontend

chore: axios version upgrade
  client/package-lock.json
Labels: frontend

chore: exclude package-lock file
  client/.gitignore
  client/package-lock.json
Labels: frontend
