Repository imprince26/SportsBuddy2, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, ui/ux, backend, api, database, authentication, events, athletes, community, venues, leaderboard, notifications, admin, documentation, config, testing, ci/cd, security, performance, socket, uploads, utils, ui-components

create github actions files
  .github/release-drafter.yml
  .github/workflows/auto-assign-reviewers.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-security-analysis.yml
  .github/workflows/release-drafter.yml
Labels: ci/cd

Fix ESLint script for flat config
  client/package.json
Labels: frontend

Fix ESLint script for flat config
  client/eslint.config.js
  client/package.json
  client/src/pages/event/CreateEvent.jsx
Labels: frontend, ui/ux, events

Fixed codeql security analysis.yml code
  .github/workflows/codeql-security-analysis.yml
Labels: ci/cd

Fixed codeql security analysis.yml code
  .github/workflows/codeql-security-analysis.yml
Labels: ci/cd

delete codeql security analysis.yml
  .github/workflows/codeql-security-analysis.yml
Labels: ci/cd

.github/labeler.yml:

# Configuration for actions/labeler to auto-label PRs based on changed files

# Frontend/Client changes
frontend:
  - client/**/*
  - "client/**"

ui/ux:
  - client/src/components/**/*
  - client/src/pages/**/*
  - "*.css"
  - "*.scss"
  - "tailwind.config.js"
  - "postcss.config.js"

# Backend/Server changes  
backend:
  - server/**/*
  - "server/**"

api:
  - server/routes/**/*
  - server/controllers/**/*
  - "server/routes/**"
  - "server/controllers/**"

# Database related
database:
  - server/models/**/*
  - server/config/db.js
  - "server/models/**"

# Authentication
authentication:
  - server/controllers/authController.js
  - server/routes/authRoute.js
  - server/middleware/authMiddleware.js
  - client/src/pages/auth/**/*
  - client/src/context/AuthContext.jsx
  - client/src/hooks/useAuth.js
  - client/src/schemas/authSchema.js

# Events functionality
events:
  - server/controllers/eventController.js
  - server/routes/eventRoute.js
  - server/models/eventModel.js
  - client/src/pages/event/**/*
  - client/src/components/events/**/*
  - client/src/context/EventContext.jsx
  - client/src/hooks/useEvents.js
  - client/src/schemas/eventSchema.js

# Athletes functionality
athletes:
  - server/controllers/athletesController.js
  - server/routes/athletesRoute.js
  - client/src/pages/athletes/**/*
  - client/src/components/athletes/**/*
  - client/src/context/AthletesContext.jsx
  - client/src/hooks/useAthletes.js

# Community features
community:
  - server/controllers/communityController.js
  - server/routes/communityRoute.js
  - server/models/communityModel.js
  - client/src/pages/community/**/*
  - client/src/context/CommunityContext.jsx
  - client/src/hooks/useCommunity.js

# Venues functionality
venues:
  - server/controllers/venueController.js
  - server/routes/venueRoute.js
  - server/models/venueModel.js
  - client/src/pages/venue/**/*
  - client/src/components/venues/**/*
  - client/src/context/VenueContext.jsx
  - client/src/hooks/useVenue.js

# Leaderboard features
leaderboard:
  - server/controllers/leaderboardController.js
  - server/routes/leaderboardRoute.js
  - server/models/leaderboardModel.js
  - client/src/pages/leaderboard/**/*
  - client/src/components/leaderboard/**/*
  - client/src/context/LeaderboardContext.jsx
  - client/src/hooks/useLeaderboard.js

# Notifications system
notifications:
  - server/controllers/notificationController.js
  - server/routes/notificationRoute.js
  - server/models/notificationModel.js
  - client/src/pages/Notifications.jsx
  - server/config/sendEmail.js
  - server/utils/emailTemplate.js

# Admin functionality
admin:
  - server/controllers/adminController.js
  - server/routes/adminRoute.js
  - client/src/pages/admin/**/*
  - client/src/components/layout/AdminLayout.jsx

# Documentation
documentation:
  - "*.md"
  - "**/*.md"
  - docs/**/*
  - README.md
  - CHANGELOG.md
  - CONTRIBUTING.md

# Configuration files
config:
  - "*.config.js"
  - "*.config.json"
  - "package.json"
  - "package-lock.json"
  - ".env*"
  - "vite.config.js"
  - "tailwind.config.js"
  - "postcss.config.js"
  - "eslint.config.js"
  - "jsconfig.json"
  - "vercel.json"
  - server/config/**/*

# Testing
testing:
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/__tests__/**"
  - "**/tests/**"
  - "jest.config.js"
  - "vitest.config.js"
  - "cypress.config.js"

# CI/CD and GitHub workflows
ci/cd:
  - ".github/**/*"
  - ".github/workflows/**/*"
  - "Dockerfile*"
  - "docker-compose*"
  - ".dockerignore"

# Security related
security:
  - server/middleware/authMiddleware.js
  - server/utils/rateLimitingUtils.js
  - server/utils/validation.js

# Performance related  
performance:
  - server/utils/cron.js
  - client/src/hooks/useDebounce.js
  - "**/*cache*"
  - "**/*optimize*"

# Socket/Real-time features
socket:
  - server/config/socket.js
  - client/src/context/SocketContext.jsx
  - client/src/hooks/useSocket.js
  - client/src/components/events/EventChat.jsx

# File uploads
uploads:
  - server/routes/uploadRoute.js
  - server/config/cloudinary.js
  - client/src/utils/fileUpload.js
  - client/src/utils/uploadUtils.js
  - client/src/components/ui/image-upload.jsx

# Utilities and helpers
utils:
  - server/utils/**/*
  - client/src/utils/**/*
  - client/src/lib/**/*
  - server/scripts/**/*

# Styling and UI components
ui-components:
  - client/src/components/ui/**/*
  - "client/src/index.css"
  - "client/src/**/*.css"
